# Ignore git

.git
.gitignore

# Ignore Backend artifacts
 
backend/pycache
backend/.pytest_cache
backend/venv
backend/notenest
backend/*.pyc

# Ignore Frontend artifacts

frontend/node_modules
frontend/dist
frontend/build